LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_MODEL=

TAVILY_API_KEY=

EMBEDDING_BASE_URL=
EMBEDDING_API_KEY=
EMBEDDING_MODEL=
EMBEDDING_BATCH_SIZE=

QDRANT_PATH=
